
@media only screen and (max-width: 500px) {

    /* .container {
        width: 100%;
        padding: 20px;
        font: white;
        background: black;
    } */
}

body {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
    color: white;

}

h2 {
    text-align: center;
}


.form-area
{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
    }
    

    .panel.panel-default {
        padding: 40px;
       
    }
    
    .navbar-nav {
        display: inline;
    
    }
    .collapse.navbar-collapse {
        margin-left:0;
    
    }
    
    .navbar-inverse {
        font: white;
        position: relative;
    
    }
    .navbar-brand {
        margin: 0 auto;
    }
    .nav-link {
        margin: 0;
    } 