
@media only screen and (max-width: 500px) {

    /* .container {
        width: 100%;
        padding: 20px;
        font: white;
        background: black;
    } */
}

body {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
    color: white;

}


/* SOCIAL MEDIA BUTTONS */

.icons {
    margin-left: 20px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}






.form-area
{
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
    }
    

    .panel.panel-default {
        padding: 40px;
       
    }
    
    .navbar-nav {
        display: inline;
    
    }
    .collapse.navbar-collapse {
        margin-left:0;
    
    }
    
    .navbar-inverse {
        font: white;
        position: relative;
    
    }
    .navbar-brand {
        margin: 0 auto;
    }
    .nav-link {
        margin: 0;
    } 